<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crkpdatum.name %>
</p>

<p>
  <strong>Adhar:</strong>
  <%= @crkpdatum.adhar %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @crkpdatum.mobile %>
</p>

<%= link_to 'Edit', edit_crkpdatum_path(@crkpdatum) %> |
<%= link_to 'Back', crkpdata_path %>
