<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @crkpuramdatum.full_name %>
</p>

<p>
  <strong>Care of:</strong>
  <%= @crkpuramdatum.care_of %>
</p>

<p>
  <strong>Adhar:</strong>
  <%= @crkpuramdatum.adhar %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @crkpuramdatum.mobile %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @crkpuramdatum.bank_name %>
</p>

<p>
  <strong>Ifsccode:</strong>
  <%= @crkpuramdatum.ifsccode %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @crkpuramdatum.account_number %>
</p>

<%= link_to 'Edit', edit_crkpuramdatum_path(@crkpuramdatum) %> |
<%= link_to 'Back', crkpuramdata_path %>
